*{
    font-family: 'Anek Telugu', sans-serif;
}
.body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mayor{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.inputs{
    align-items: center;
    width: 200px;
    gap: 20px;
}
.boton{
    margin-top: 20px;
    background-color: #313131;
    color: white;
}
.grupo{
    align-items: center;
margin: 10px;
}
